<div class="swiper-wrapper-container" [class]="customClass()">
  <swiper-container
    #swiperRef
    init="false"
    class="custom-swiper">
    @for (item of items(); track item.title) {
      <swiper-slide>
        <div class="card-inner text-center">
          @if (item.image) {
            <img [src]="item.image" [alt]="item.title" class="tech-icon">
          } @else if (item.iconClass) {
            <i [class]="item.iconClass + ' display-4 mb-3'"></i>
          }
          <h5 class="mt-2 text-dark">{{ item.title }}</h5>
          @if (item.subtitle) {
            <p class="small text-muted">{{ item.subtitle }}</p>
          }
        </div>
      </swiper-slide>
    }
  </swiper-container>
</div>
