.main-footer {
  background-color: var(--color-dark);
  border-top: 3px solid var(--color-primary-muted);
  color: var(--color-accent);
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-dark-light);
  color: var(--color-accent);
  box-shadow: var(--shadow-standard);
  transition: all 0.3s ease;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-5px);
  background-color: var(--color-primary);
  color: var(--color-accent) !important;
}

.linkedin:hover {
  background-color: #0077b5;
}
.facebook:hover {
  background-color: #1877f2;
}
.gmail:hover {
  background-color: #db4437;
}
.github:hover {
  background-color: #908d8c;
}

.divider {
  width: 100px;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--color-primary), transparent);
  margin: 0 auto;
}

.copyright {
  font-size: 0.9rem;
  color: var(--color-accent-muted);
}

.copyright span {
  letter-spacing: 0.5px;
}

.copyright .text-primary {
  color: var(--color-primary) !important;
}
